{{>layouts/header}}

<a href="articles">Article List</a> <span>게시글 목록</span><br>
<a href="articles/1">Article 1</a> <span>1번 게시글 상세 페이지</span><br>
<a href="articles/new">New Article</a> <span>게시글 등록</span><br>
<a href="members">Member List</a> <span>회원 목록</span><br>
<a href="members/1">Member 1</a> <span>1번 회원 상세 페이지</span><br>
<a href="signup">Sign Up</a> <span>회원가입</span><br>
<a href="members/login">Log In</a> <span>로그인</span><br>

{{>layouts/footer}}